{% extends "base.html" %}

{% block custom_styles %}

.custom-container {
    max-width: 700px;
    padding: 1rem;
}

{% endblock %}

{% block title %}Not found{% endblock %}

{% block content %}

<main>
  <div class="container py-4">


    <div class="container-fluid custom-container p-5 mb-4 rounded-3">
      <div class="row px-3">
        <img src="{{ url_for('static', filename='assets/logo_moco_black_text_below.png') }}" width="200" />
      </div>
      <div class="container-fluid py-5">
        <h1>Something went wrong!</h1>
        <br />
        <p>
          You ran into a 404, because this page doesn't exist anymore.
        </p>
        <p>
          Click <a href="{{ url_for('api.home') }}">here</a> to return to the homepage.
        </p>
      </div>
    </div>



  </div>
</main>

{% endblock %}