{% extends "base.html" %}

{% block favicon %}
    <link rel="icon" href="{{ url_for('static', filename='img/logo_moco.ico') }}" type="image/x-icon" />
{% endblock %}

{% block custom_styles %}
    .custom-container {
        max-width: 700px;
        padding: 1rem;
    }
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block title %}Mozer Consulting - 404{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    {% include 'ws_navbar.html' %}
{% endblock %}

{% block main %}
  <div class="container py-4">


    <div class="container-fluid custom-container p-5 mb-4 rounded-3">
      <div class="row px-3">
        <img src="{{ url_for('static', filename='img/logo_moco_black_text_below.png') }}" width="200" />
      </div>
      <div class="container-fluid py-5">
        <h1>Something went wrong!</h1>
        <br />
        <p>
          You ran into a 404, because this page doesn't exist anymore.
        </p>
        <p>
          Click <a href="{{ url_for('website_bp.home') }}">here</a> to return to the homepage.
        </p>
      </div>
    </div>



  </div>
{% endblock %}

{% block footer %}
    {% include 'ws_footer.html' %}
{% endblock %}
