<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- block head start -->
    {% block head %}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Favicon -->
    {% block favicon %}{% endblock %}

    <!-- block styles start -->
    {% block styles %}

    <!-- Font Noto Sans Display-->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com" crossorigin
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
    />

    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}


    <!-- Load project styles from static/css-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/custom.css') }}"
    />

    <!-- Load custom styles-->
    <style>
        {% block custom_styles %}{% endblock %}
    </style>

    {% endblock %}
    <!-- block styles end -->

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <!--block head end-->
  </head>
  <body>


  {% block header %}
  {% endblock %}

  {% block main %}
  {% endblock %}

  {% block footer %}
  {% endblock %}


    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}

    <script type="text/javascript">
      {% block custom_scripts %}{% endblock %}
    </script>
    {% endblock %}  <!--block scripts-->

  </body>
</html>
