<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <img class="bi me-2" src="{{ url_for('static', filename='/assets/logo_moco_black.png') }}" width="40" height="32">
      </a>
      <p class="text-body-secondary">© {{ now.year }} Mozer Consulting</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>General</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="{{ url_for('api.home') + '#top' }}" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('api.home') + '#vision' }}" class="nav-link p-0 text-body-secondary">Vision</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('api.home') + '#mission' }}" class="nav-link p-0 text-body-secondary">Mission</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('api.home') + '#about' }}" class="nav-link p-0 text-body-secondary">About</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('api.home') + '#contact' }}" class="nav-link p-0 text-body-secondary">Contact</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Detailed</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="{{ url_for('api.home') + '#expertise' }}" class="nav-link p-0 text-body-secondary">Expertise</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('api.home') + '#experience' }}" class="nav-link p-0 text-body-secondary">Experience</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('api.home') + '#skills' }}" class="nav-link p-0 text-body-secondary">Skills</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('api.home') + '#python' }}" class="nav-link p-0 text-body-secondary">Python+Web</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Legal</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="{{ url_for('api.my_copyright') }}" class="nav-link p-0 text-body-secondary">Copyright notice</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('api.disclaimer') }}" class="nav-link p-0 text-body-secondary">Disclaimer</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('api.terms') }}" class="nav-link p-0 text-body-secondary">Terms & Conditions</a></li>
        <li class="nav-item mb-2"><a href="{{ url_for('api.privacy') }}" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>
</div>