<nav class="navbar navbar-expand-lg sticky-top bg-moco-darkblue">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('api.home')+'#top' }}">
      <img src="{{ url_for('static', filename='/assets/logo_moco_white_text_right.png') }}" alt="Logo"  height="32" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('api.home') + '#top' }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('api.home') + '#contact' }}">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About us
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{{ url_for('api.home') + '#vision' }}">
                Vision
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('api.home') + '#mission' }}">
                Mission
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{{ url_for('api.home') + '#expertise' }}">
                Expertise
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('api.home') + '#experience' }}">
                Experience
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('api.home') + '#skills' }}">
                Skills
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('api.home') + '#python' }}">
                Python + Web
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{{ url_for('api.home') + '#about' }}">
                About me
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('api.home') + '#contact' }}">
                Contact
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our partners
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="https://www.move-it.international/" target="_blank">
                <img src="{{ url_for('static', filename='/assets/logo_moveit.jpg')}}" height="16" />
                MOVE-IT International
              </a>
            </li>
            <li><a class="dropdown-item" href="https://www.energyconservation.com.au/" target="_blank">Energy Conservation</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
          </ul>
        </li>
      </ul>
     <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ img_url }}" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" style="">
            {% if not current_user.is_authenticated %}
              <li><a class="dropdown-item" href="{{ url_for('api.register') }}">Register</a></li>
              <li><a class="dropdown-item" href="{{ url_for('api.login') }}">Login</a></li>
            {% else: %}
              <li><a class="dropdown-item" href="{{ url_for('api.profile') }}">Profile</a></li>
              <li><a class="dropdown-item" href="{{ url_for('api.changepwd') }}">Change Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('api.logout') }}">Log out</a></li>
              {% if current_user.is_admin: %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('api.admin') }}">Admin</a></li>
              {% endif %}
            {% endif %}
          </ul>
      </div>
    </div>
  </div>
</nav>