<section id="python">
  <div class="container px-2 py-2">
    <h2 class="pb-2 border-bottom"><img class="me-3" src="{{ url_for('static', filename='/assets/svg/code-slash.svg') }}"> Python+Web</h2>

    <div class="container my-5">
      <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
        <div class="row">
          <div class="col-lg-4">
            <img src="{{ url_for('static',filename='/assets/logo_python.png') }}" height="100">
          </div>
          <div class="col-lg-4">
            <img src="{{ url_for('static',filename='/assets/logo_flask.png') }}" height="100">
          </div>
          <div class="col-lg-4">
            <img src="{{ url_for('static',filename='/assets/logo_udemy.png') }}" height="100">
          </div>
        </div>
        <svg class="bi mt-2 mb-3" width="48" height="48"><use xlink:href="#check2-circle"></use></svg>
        <h1 class="text-body-emphasis">Coming soon!</h1>
          <p class="col-lg-8 mx-auto mb-4">
            I'm teaching myself how to code using Python in combination with Full-Stack Webdevelopment with the help of
            the amazing course <a href="https://www.udemy.com/course/100-days-of-code/" target="_blank">100 days of Python</a> by
            <a href="https://www.udemy.com/user/4b4368a3-b5c8-4529-aa65-2056ec31f37e/" target="_blank">Dr. Angela
            Yu</a> on <a href="https://www.udemy.com/" target="_blank">Udemy</a>. This website is my first project and I'm currently working on my first
            Webapp. Register now and I will keep you posted on the progress!
          </p>

        {% if not current_user.is_authenticated: %}
          <a class="btn btn-dark px-5 mb-5" role="button" aria-disabled="true" href="{{ url_for('api.register') }}">Register now!</a>
        {% else: %}
          <a class="btn btn-dark px-5 mb-5 disabled" role="button" aria-disabled="true" href="{{ url_for('api.register') }}">Already logged in!</a>
        {% endif %}
        </div>
      </div>
    </div>


  </div>
</section>