{% extends "base.html" %}

{% block title %}Not found{% endblock %}

{% block content %}

<main>
  <div class="container py-4">


    <div class="container-fluid form-signin p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="row px-3">
        <img src="{{ url_for('static', filename='assets/logo_and_text.png') }}" width="200" />
      </div>
      <div class="container-fluid py-5">
        <h1>Sorry, you are not authorized!</h1>
        <br />
        <p>
          You ran into a 401, because access to this page is restricted.
        </p>
        <p>
          Click <a href="{{ url_for('home') }}">here</a> to return to the homepage.
        </p>
      </div>
    </div>



  </div>
</main>

{% endblock %}