<div class="container px-4 py-5" id="aboutme">
    <h2 class="pb-2 border-bottom">Nice to meet you…</h2>


    <div class="row mb-3 text-left">
      <div class="col-md-8 themed-grid-col">
          <p>My name is Mark Mozer and I’m a passionate SAP expert and Supply Chain professional with {{ now.year - 2001 }}+ years of experience in designing, building and improving Supply Chains. On March 1st, 2018 I started Mozer Consulting to continue my career as a Freelance SAP Consultant eager to help you and your company to be more successful.</p>
          <p>After finishing school in 1998 (Bachelor of Business Administration) I started my first job at Baan Business Innovation. Looking back, this job defined the direction of my career – aligning people, processes, systems and data. I realized however that I needed to develop additional skills and wanted to see different companies. In 1999 I started a two year Management Trainee-ship at Ormit. In that period I worked for Royal Dutch Airforce, ASML, ING Bank and Unilever.</p>
          <p>In 2001 I joined Unilever as an inhouse consultant in a European SAP roll-out project. In total I spent seven years at Unilever in different roles (both IT and business) and different functional areas (procurement and demand & supply planning). The first five years on the Unilever pay-roll and two years as external consultant working for Accenture and ITVisors.</p>
          <p>In 2009 I joined Magnus as Senior SAP Consultant in the logistics area and from 2012 till 2018 I lead the logistics practice as Managing Consultant. During my Magnus period I worked on challenging projects at a.o. Medeco, Tata Steel, AkzoNobel and Koninklijke Jaarbeurs.</p>
          <p>End of 2017 I felt it was time for the next step and on March 1st, 2018 Mozer Consulting was born. My first assignment was a global integration project at NXP Semiconductors following an acquisition. In sixteen months with a lot of travelling to both US and Malaysia, the project was finished successfully.  </p>
      </div>
      <div class="col-6 col-md-4 themed-grid-col"><img src="{{ url_for('static', filename='/assets/Mark_upperbody.jpg') }}"></div>
    </div>
</div>


