{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% from "bootstrap5/form.html" import render_form, render_field %}

{% block content %}



<div class="container"> <!-- Main container -->

	<div class="row"> <!-- Row for page title -->
		<div class="col-12 my-2"> <!-- Col for page title -->
			<h3>Admin</h3>
			<hr>
		</div> <!-- Col for page title -->
	</div> <!-- Row for page title -->

	<div class="row">
		<div class="col mb-1">
			<h4>Users</h4>
			<hr>
		</div>
	</div>
	<div class="row"> <!-- Row for user table -->
		<div class="col mb-1"> <!-- Col for user table -->
			<table class="table">
			  <thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Username</th>
					<th scope="col">Created on</th>
					<th scope="col">Admin</th>
					<th scope="col">Confirmed</th>
					<th scope="col">First name</th>
					<th scope="col">Last name</th>
					<th scope="col">Mobile</th>
					<th scope="col">Date of Birth</th>
				</tr>
			  </thead>
			  <tbody>
				{% for user in users: %}
			  	<tr>
				  	<th scope="row">{{ user.id }}</th>
				  	<td>{{ user.username }}</td>
				  	<td>{{ user.created_on }}</td>
					<td>{{ user.is_admin }}</td>
					<td>{{ user.is_confirmed }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.mobile }}</td>
					<td>{{ user.date_of_birth }}</td>
				</tr>
			  	{% endfor %}
			  </tbody>
			</table>
		</div> <!-- Col for user table -->

	</div> <!-- Row for user table -->

</div> <!-- Main container-->


{% endblock %}