<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{{ url_for('static', filename='/assets/favicon.ico') }}" />

    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <!-- Link to the styles.css here to apply styling to all the child templates.-->

    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com" crossorigin
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    {% endblock %}

    <title>{% block title %}{% endblock %} - Mozer Consulting</title>
    {% endblock %}
  </head>
<body>

    {% include 'navbar.html' %}

    {% include 'alert.html' %}

    {% block content %}
    {% endblock %}

    <footer class="text-center mt-4 py-2" style="background-color: var(--mid-purple); color: var(--cream);">
        &copy; {{ now.year }} Mozer Consulting. All rights reserved.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGo6L1NiUywogGyR7oTCIhPBJGmI4LKNKej6qKkGGXK07R8Jfug" crossorigin="anonymous"></script>

    {{ bootstrap.load_js() }}
</body>
</html>
