<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Mozer Consulting icon -->
    <link rel="icon" href="{{ url_for('static', filename='/assets/logo_moco.ico') }}" type="image/x-icon" />

    {% block styles %}

    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}

    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com" crossorigin
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
    />

    <!-- Link to the styles.css here to apply styling to all the child templates.-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <style>
        {% block custom_styles %}{% endblock %}
    </style>

    {% endblock %}

    <title>{% block title %}{% endblock %} - Mozer Consulting</title>
    {% endblock %}
  </head>
<body>

    {% include 'navbar.html' %}

    {% include 'alert.html' %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGo6L1NiUywogGyR7oTCIhPBJGmI4LKNKej6qKkGGXK07R8Jfug" crossorigin="anonymous"></script>

    {{ bootstrap.load_js() }}
</body>
</html>
