<div class="container px-2 py-2" id="expertise">
    <h2 class="pb-2 border-bottom"><img class="me-3" src="{{ url_for('static', filename='/assets/svg/wrench-adjustable.svg') }}"> Expertise</h2>

    <h5 class="pt-3">
        Broad functional and technical SAP Expertise and a solid background in Supply Chain Management and logistics.
    </h5>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          SAP Materials Management (MM)
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li>{{ now.year - 2001 }}+ years of all-round experience</li>
            <li>Extensive process knowledge and customizing experience</li>
            <li>Broad knowledge of and experience with enhancements</li>
            <li>Broad knowledge of integration with other modules</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          SAP Sales & Distribution (SD)
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li>{{ now.year - 2008 }}+ years of all-round experience</li>
            <li>Extensive process knowledge and customizing experience</li>
            <li>Broad knowledge of and experience with enhancements</li>
            <li>Broad knowledge of integration with other modules</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          SAP Production Planning & Control (PP / PP-PI)
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li>{{ now.year - 2009 }}+ years of all-round experience</li>
            <li>Extensive process knowledge and customizing experience</li>
            <li>Broad knowledge of and experience with enhancements</li>
            <li>Broad knowledge of integration with other modules</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
          SAP Logistics Execution (LE)
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li>{{ now.year - 2012 }}+ years experience</li>
            <li>Extensive process knowledge and customizing experience in</li>
            <ul>
              <li>Warehouse Management (WM)</li>
              <li>Transportation (TR)</li>
            </ul>
            <li>Broad knowledge of integration with other modules</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
          SAP Miscellaneous
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>SAP Finance &amp; Control (FI/CO)</p>
          <ul>
            <li>Solid understanding of integration with Supply Chain processes</li>
            <li>Experience with and knowledge of Product Costing</li>
          </ul>
          <p>SAP Quality Management (QM)</p>
          <ul>
            <li>Decent process knowledge in most subareas</li>
            <li>Limited customizing experience</li>
            <li>Significant knowledge of integration with other modules</li>
          </ul>
          <p>SAP Advanced Planning &amp; Optimization (SCM-APO)</p>
          <ul>
            <li>Process knowledge and hands-on experience
            <ul>
              <li>DP – Demand Planning</li>
              <li>SNP – Supply Network Planning</li>
              <li>PP/DS – Production Planning &amp; Detailed Scheduling</li>
              <li>Core Interface (CIF)</li>
            </ul>
            </li>
          </ul>
          <p>Extensive knowledge and experience in the following areas:</p>
          <ul>
            <li>Master Data management</li>
            <li>Batch management</li>
            <li>Handling Unit Management</li>
            <li>Enterprise Structure</li>
            <li>Classification</li>
            <li>Plants Abroad functionality</li>
            <li>Advanced Returns Management</li>
            <li>LSMW</li>
            <li>Development of Reports, Interfaces (IDOC/ALE/EDI/API) and Enhancements</li>
          </ul>
          <p>ABAP programming skills and excellent debugging skills</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
          Supply Chain Management / Logistics
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li>Certified in Production and Inventory Management (CPIM) by APICS</li>
            <li>Six-Sigma Greenbelt by ASQ</li>
            <li>LEAN Black-belt (in training) by LEAN Institute</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>