<div class="container px-2 py-2" id="experience">
    <h2 class="pb-2 border-bottom"><img class="me-3" src="{{ url_for('static', filename='/assets/svg/calendar-check.svg') }}"> Experience</h2>

    <h5 class="pt-3">
        {{ now.year - 2001 }}+ years (international) experience in different lines of business, roles, end-to-end processes and project types.
    </h5>

  <div class="accordion accordion-flush" id="accordionFlushExperience">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
          Employment History
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExperience">
        <div class="accordion-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Role</th>
                  <th scope="col">Company</th>
                  <th scope="col">City </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">2018</th>
                  <th>now</th>
                  <td>Freelance SAP Consultant</td>
                  <td>Mozer Consulting</td>
                  <td>De Meern</td>
                </tr>
                <tr>
                  <th scope="row">2012</th>
                  <th>2018</th>
                  <td>Managing Consultant</td>
                  <td>Magnus Blue</td>
                  <td>Naarden</td>
                </tr>
                <tr>
                  <th scope="row">2009</th>
                  <th>2011</th>
                  <td>Senior Consultant</td>
                  <td>Magnus Blue</td>
                  <td>Naarden</td>
                </tr>
                <tr>
                  <th scope="row">2007</th>
                  <th>2009</th>
                  <td>Senior Consultant</td>
                  <td>ITVisors</td>
                  <td>Utrecht</td>
                </tr>
                <tr>
                  <th scope="row">2006</th>
                  <th>2007</th>
                  <td>Consultant</td>
                  <td>Accenture Business Services</td>
                  <td>Amsterdam</td>
                </tr>
                <tr>
                  <th scope="row">2005</th>
                  <th>2006</th>
                  <td>Inhouse Consultant</td>
                  <td>Unilever</td>
                  <td>Rotterdam</td>
                </tr>
                <tr>
                  <th scope="row">2003</th>
                  <th>2004</th>
                  <td>Team lead Planning</td>
                  <td>Unilever</td>
                  <td>Rotterdam</td>
                </tr>
                <tr>
                  <th scope="row">2001</th>
                  <th>2003</th>
                  <td>Inhouse Consultant</td>
                  <td>Unilever</td>
                  <td>Rotterdam</td>
                </tr>
                <tr>
                  <th scope="row">1999</th>
                  <th>2001</th>
                  <td>Management Trainee</td>
                  <td>Ormit</td>
                  <td>Utrecht</td>
                </tr>
                <tr>
                  <th scope="row">1998</th>
                  <th>1999</th>
                  <td>Consultant</td>
                  <td>Baan Business Innovation</td>
                  <td>Ede</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
          Companies / Customers
        </button>
      </h2>
      <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExperience">
        <div class="accordion-body">
            <div class="row">
                <!--NXP-->
                <div class="col-lg-4 my-4">
                    <h6>
                        <img src="{{ url_for('static', filename='/assets/logo_nxp_2024.png') }}" alt="NXP logo" height="24" class="mb-2"> NXP Semiconductors
                        <span class="badge text-bg-dark ml-4">High-Tech</span>
                    </h6>
                    <span class="badge text-bg-primary px-1">S/4</span>
                    <span class="badge text-bg-primary px-1">ECC</span><br>
                    <span class="badge text-bg-light px-1">SD</span>
                    <span class="badge text-bg-light px-1">PP-PI</span>
                    <span class="badge text-bg-light px-1">MM</span>
                    <span class="badge text-bg-light px-1">LE</span><br>
                    <span class="badge text-bg-secondary px-1">M&A</span>
                    <span class="badge text-bg-secondary px-1">Brownfield S/4</span><br>
                    <span class="badge text-bg-success px-1">Lead Consultant</span>
                </div>
                <!--Teijin Aramid-->
                <div class="col-lg-4 my-4">
                    <h6>
                        <img src="{{ url_for('static', filename='/assets/Teijin Aramid Logo.png') }}" alt="Teijin Aramid logo" height="24" class="mb-2">
                        <span class="badge text-bg-dark ml-4">Industry</span>
                    </h6>
                    <span class="badge text-bg-primary px-1">S/4</span><br>
                    <span class="badge text-bg-light px-1">MM</span>
                    <span class="badge text-bg-light px-1">LE</span>
                    <span class="badge text-bg-light px-1">TM</span>
                    <span class="badge text-bg-light px-1">SD</span>
                    <span class="badge text-bg-light px-1">PP-PI</span><br>
                    <span class="badge text-bg-secondary px-1">Greenfield S/4</span><br>
                    <span class="badge text-bg-success px-1">Workstream Lead</span>
                </div>
                <!--PVH-->
                <div class="col-lg-4 my-4">
                    <h6>
                        <img src="{{ url_for('static', filename='/assets/PVH.png') }}" alt="PVH logo" height="24" class="mb-2"> Phillips-Van Heusen Co.
                        <span class="badge text-bg-dark ml-4">Retail</span>
                    </h6>
                    <span class="badge text-bg-primary px-1">ECC</span><br>
                    <span class="badge text-bg-light px-1">SD</span>
                    <span class="badge text-bg-light px-1">MM</span>
                    <span class="badge text-bg-light px-1">FI</span><br>
                    <span class="badge text-bg-secondary px-1">BREXIT</span><br>
                    <span class="badge text-bg-success px-1">Consultant</span>
                </div>
            </div>
            <!--Tata Steel-->
            <div class="row">
                <div class="col-lg-4 my-4">
                    <h6>
                        <img src="{{ url_for('static', filename='/assets/Tata-Steel.png') }}" alt="Tata Steel logo" height="24" class="mb-2">
                        <span class="badge text-bg-dark ml-4">Industry</span>
                    </h6>
                    <span class="badge text-bg-primary px-1">ECC</span><br>
                    <span class="badge text-bg-light px-1">SD</span>
                    <span class="badge text-bg-light px-1">PP</span>
                    <span class="badge text-bg-light px-1">MM</span>
                    <span class="badge text-bg-light px-1">LE</span><br>
                    <span class="badge text-bg-secondary px-1">Harmonization</span>
                    <span class="badge text-bg-secondary px-1">SFC</span><br>
                    <span class="badge text-bg-success px-1">Lead Consultant</span>
                </div>
                <!--AkzoNobel-->
                <div class="col-lg-4 my-4">
                    <h6>
                        <img src="{{ url_for('static', filename='/assets/akzonobel-logo.png') }}" alt="AkzoNobel logo" height="24" class="mb-2">
                        <span class="badge text-bg-dark ml-4">Industry</span>
                    </h6>
                    <span class="badge text-bg-primary px-1">ECC</span><br>
                    <span class="badge text-bg-light px-1">SD</span>
                    <span class="badge text-bg-light px-1">MM</span><br>
                    <span class="badge text-bg-secondary px-1">Tax Optimized Supply Chain</span>
                    <span class="badge text-bg-secondary px-1">SAP SLO</span><br>
                    <span class="badge text-bg-success px-1">Lead Consultant</span>

                </div>
                <!--Unilever-->
                <div class="col-lg-4 my-4">
                    <h6>
                        <img src="{{ url_for('static', filename='/assets/Unilever.png') }}" alt="Unilever logo" height="24" class="mb-2"> Unilever
                        <span class="badge text-bg-dark ml-4">FMCG</span>
                    </h6>
                    <span class="badge text-bg-primary px-1">ECC</span><br>
                    <span class="badge text-bg-light px-1">SD</span>
                    <span class="badge text-bg-light px-1">MM</span>
                    <span class="badge text-bg-light px-1">LE</span>
                    <span class="badge text-bg-light px-1">PP</span><br>
                    <span class="badge text-bg-secondary px-1">European Roll-out</span>
                    <span class="badge text-bg-secondary px-1">Tax Optimized Supply Chain</span><br>
                    <span class="badge text-bg-success px-1">Lead Consultant</span>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                <h6><span class="badge text-bg-dark ml-4">Industry</span></h6>
                    <ul>
                        <li>ASML</li>
                        <li>Evonik</li>
                        <li>Cargotec</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                <h6><span class="badge text-bg-dark ml-4">Services</span></h6>
                    <ul>
                        <li>Koninklijke Jaarbeurs</li>
                        <li>GVB</li>
                        <li>RET</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                <h6><span class="badge text-bg-dark ml-4">Trade</span></h6>
                    <ul>
                        <li>Medeco</li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>