<div class="container px-2 py-2" id="expertise">
    <h2 class="pb-2 border-bottom"><img class="me-3" src="{{ url_for('static', filename='/assets/svg/wrench-adjustable.svg') }}"> Expertise</h2>

    <h5 class="pt-3">
        Broad functional and technical SAP Expertise and a solid background in Supply Chain Management and logistics.
    </h5>

  <div class="accordion accordion-flush" id="accordionFlushExpertise">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <img src="{{ url_for('static', filename='/assets/logo_sap.png') }}" alt="SAP logo" height="24" /> R/3, ECC and S/4HANA
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExpertise">
        <div class="accordion-body">
          <!-- MM and SD -->
          <div class="row">
            <div class="col-lg-6">
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 90%">Materials Management (MM)</div>
              </div>
              <ul>
                <li>{{ now.year - 2001 }}+ years of all-round experience</li>
                <li>Extensive process knowledge and customizing experience</li>
                <li>Broad knowledge of and experience with enhancements</li>
                <li>Broad knowledge of integration with other modules</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 85%">Sales & Distribution (SD)</div>
              </div>
              <ul>
                <li>{{ now.year - 2008 }}+ years of all-round experience</li>
                <li>Extensive process knowledge and customizing experience</li>
                <li>Broad knowledge of and experience with enhancements</li>
                <li>Broad knowledge of integration with other modules</li>
              </ul>
            </div>
          </div>
          <!-- PP and LE -->
          <div class="row">
            <div class="col-lg-6">
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 80%">Production Planning & Control (PP / PP-PI)</div>
              </div>
              <ul>
                <li>{{ now.year - 2009 }}+ years of all-round experience</li>
                <li>Extensive process knowledge and customizing experience</li>
                <li>Broad knowledge of and experience with enhancements</li>
                <li>Broad knowledge of integration with other modules</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 75%">Logistics Execution (LE)</div>
              </div>
                <ul>
                  <li>{{ now.year - 2012 }}+ years experience</li>
                  <li>Extensive process knowledge and customizing experience in
                  <ul>
                    <li>Warehouse Management (WM)</li>
                    <li>Transportation (TR)</li>
                  </ul>
                  </li>
                  <li>Broad knowledge of integration with other modules</li>
                </ul>
            </div>
          </div>
          <!-- LO and QM -->
          <div class="row">
            <div class="col-lg-6">
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 80%">Logistics General (LO)</div>
              </div>
              <ul>
                <li>Batch Management</li>
                <li>Handling Unit Management</li>
                <li>Advanced Returns Management</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 50%">Quality Management (QM)</div>
              </div>
                <ul>
                  <li>Decent process knowledge in most subareas</li>
                  <li>Limited customizing experience</li>
                  <li>Significant knowledge of integration with other modules</li>
                </ul>
            </div>
          </div>
          <!-- APO and TM  -->
          <div class="row">
            <div class="col-lg-6">
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 50%">Advanced Planning & Optimization (SCM-APO)</div>
              </div>
                <ul>
                  <li>Process knowledge and hands-on experience
                  <ul>
                    <li>DP – Demand Planning</li>
                    <li>SNP – Supply Network Planning</li>
                    <li>PP/DS – Production Planning &amp; Detailed Scheduling</li>
                    <li>Core Interface (CIF)</li>
                  </ul>
                  </li>
                </ul>
              </div>
            <div class="col-lg-6">
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 50%">Transportation Management</div>
              </div>
                <ul>
                  <li>Process knowledge and hands-on experience
                  <ul>
                    <li>Integration with SD and MM</li>
                    <li>Freight Units and Freight Unit Building</li>
                    <li>Freight Orders and Freight Bookings</li>
                    <li>Integration with carriers</li>
                  </ul>
                  </li>
                </ul>
            </div>
          </div>
          <!-- FICO and Other  -->
          <div class="row">
            <div class="col-lg-6">
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 50%">Finance & Control (FI/CO)</div>
              </div>
              <ul>
                <li>Solid understanding of integration with Supply Chain processes</li>
                <li>Extensive experience with Plants Abroad functionality</li>
                <li>Extensive experience with IntraStat reporting</li>
                <li>Experience with and knowledge of Product Costing</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 80%">Basis (BA) and Other</div>
              </div>
                <ul>
                  <li>Master Data (Business Partners, Materials etc.)</li>
                  <li>Enterprise Structure</li>
                  <li>Classification</li>
                  <li>FIORI></li>
                  <li>LSMW</li>
                  <li>Development of Reports, Interfaces (IDOC/ALE/EDI/API) and Enhancements</li>
                  <li>ABAP programming skills and excellent debugging skills</li>
                </ul>
              </div>
          </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          Supply Chain Management / Logistics
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExpertise">
        <div class="accordion-body">
          <ul>
            <li>Certified in Production and Inventory Management (CPIM) by APICS</li>
            <li>Six-Sigma Greenbelt by ASQ</li>
            <li>LEAN Black-belt (in training) by LEAN Institute</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>