{% extends "base.html" %}

{% from "bootstrap5/form.html" import render_form, render_field %}

{% block custom_styles %}

    .moco-email {
        color: #363062;
        text-decoration: none;
    }

{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

{% include 'hero.html' %}

{% include 'services.html' %}

{% include 'vision.html' %}

{% include 'mission.html' %}

{% include 'expertise.html' %}

{% include 'experience.html' %}

{% include 'skills.html' %}

{% include 'about.html' %}

{% include 'contact.html' %}

{% endblock %}
