{% extends "base.html" %}

{% block custom_styles %}

.custom-container {
    max-width: 500px;
    padding: 1rem;
}
{% endblock %}

{% block title %}Login{% endblock %}

{% from "bootstrap5/form.html" import render_form, render_field %}

{% block content %}


<main>
  <div class="container py-4">


    <div class="container-fluid custom-container p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="row px-3">
        <img src="{{ url_for('static', filename='assets/logo_moco_black_text_below.png') }}" />
      </div>
      <div class="container-fluid py-5">
        <!--Rendering the registration form here-->
        {{render_form(form, extra_classes="", novalidate=True, button_map={"submit": "dark"}) }}
      </div>
      <div class="row px-3">
        <p>New visitor? Register <a href="{{ url_for('register') }}">here</a>!</p>
      </div>
    </div>



  </div>
</main>

{% endblock %}