<div class="container px-2 py-2" id="mission">
    <h2 class="pb-2 border-bottom"><img class="me-3" src="{{ url_for('static', filename='/assets/svg/rocket-takeoff.svg') }}"> Mission</h2>
    <div class="row mb-3 text-left">
      <div class="col-sm col-md-6 col-lg-8 themed-grid-col">
          <p>
              We design, build and deploy innovative IT solutions in SAP - or seamlessly integrated with SAP - that
              simplify and enhance supply chain operations through frictionless interaction between People, Process
              and Data.
          </p>
          <p>
              Together we:
          </p>
        <ul>
          <li>Turn your strategy into action.</li>
          <li>Empower your workforce.</li>
          <li>Drive sustainable growth and operational excellence.</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-4 themed-grid-col"><img src="{{ url_for('static', filename='/assets/synergy.png')}}" width=100%></div>
    </div>
</div>