{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% from "bootstrap5/form.html" import render_form, render_field %}

{% block content %}



<div class="container"> <!-- Main container -->

	<div class="row"> <!-- Row for page title -->
		<div class="col-12 my-2"> <!-- Col for page title -->
			<h3>My Profile</h3>
			<hr>
		</div> <!-- Col for page title -->
	</div> <!-- Row for page title -->

	<div class="row"> <!-- Row for contact details and upload -->
		<div class="col-lg-6 mb-1"> <!-- Col for contact details -->
			<div class="row"> <!-- Row for contact details title -->
				<div class="col my-2"> <!-- Col for contact details title -->
					<h4>Contact details</h4>
					<hr>
				</div> <!-- Col for contact details title -->
			</div> <!-- Row for contact details title -->
			<div class="row>"> <!-- Row for form -->
				<div class="col"> <!-- Col for form -->
					{{ render_form(
							form,
							form_type='horizontal',
							horizontal_columns=('lg',4,6),
							button_map={'submit1': 'dark'},
							novalidate=True,
							)
					}}
				</div> <!-- Col for form -->
			</div> <!-- Row for form -->
		</div> <!-- Col for contact details -->

		<div class="col-lg-6 mb-1"> <!-- Col for change password -->
			<div class="row"> <!-- Row for change password tile -->
				<div class="col my-2"> <!-- Col for change password title -->
					<h4>   </h4>
					<!--hr-->
				</div> <!-- Col for change password title -->
			</div> <!-- Row for change password title -->
			<div class="row>"> <!-- Row for form -->
				<div class="col"> <!-- Col for form -->

				</div> <!-- Col for form -->
			</div> <!-- Row for form -->
		</div> <!-- Col for change password -->

	</div> <!-- Row for contact details and change password -->

</div> <!-- Main container-->


{% endblock %}