<div class="container px-2 py-2" id="skills">
    <h2 class="pb-2 border-bottom"><img class="me-3" src="{{ url_for('static', filename='/assets/svg/person-gear.svg') }}"> Skills</h2>

    <h5 class="pt-3">
        Strong abilities in communication and social interaction, alongside excellent analytical skills and management expertise.
    </h5>

  <div class="accordion accordion-flush" id="accordionFlushSkills">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
          Communication skills
        </button>
      </h2>
      <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushSkills">
        <div class="accordion-body">
          <ul>
            <li>Good listener</li>
            <li>Excellent verbal and non-verbal communication skills</li>
            <li>Excellent presentation skills</li>
            <li>Comfortable speaking for large groups</li>
            <li>Delivering well-structured reports</li>
            <li>Excellent didactic skills</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
          Social skills
        </button>
      </h2>
      <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushSkills">
        <div class="accordion-body">
          <ul>
            <li>Genuinely interested in people</li>
            <li>Able to pick up (un)spoken emotions and handle them in an effective way</li>
            <li>Able to motivate people and persuade them into action</li>
            <li>Full of energy, enthusiastic and a positive mindset</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
          Analytical skills
        </button>
      </h2>
      <div id="flush-collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushSkills">
        <div class="accordion-body">
          <ul>
            <li>Data collection and analysis</li>
            <li>Critical thinking</li>
            <li>Deduction, logical reasoning, lateral thinking</li>
            <li>Evaluation and decision making</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
          Management skills
        </button>
      </h2>
      <div id="flush-collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionFlushSkills">
        <div class="accordion-body">
          <ul>
            <li>Effectively deal with change</li>
            <li>Assertiveness</li>
            <li>Collaboration and communication</li>
            <li>Preventing and dealing with conflicts</li>
            <li>Authenticity</li>
            <li>Focus/Result driven</li>
            <li>Project management</li>
            <li>Time management</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

