<div class="container px-2 py-5" id="vision">

    <h2 class="pb-2 border-bottom"><img class="me-3" src="{{ url_for('static', filename='/assets/svg/signpost.svg') }}"> Vision</h2>
    <div class="row-cols-lg-1 py-1">
      <p>
      At the core of our vision lies the commitment to helping customers unleash their full potential by delivering
      technological solutions that seamlessly integrate with their people, processes, and data. We envision a world
      where technology acts not as a barrier but as a bridge, facilitating a frictionless flow of information and
      innovation. Our goal is to transform the landscape of how businesses operate, ensuring that our solutions are
      not merely tools, but catalysts for growth, efficiency, and unparalleled success. In this future, every
      organization harnesses the power of their technology, people, process, and data in harmony, unlocking new
      horizons of possibilities and achievements."
      </p>
    </div>

    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-0 py-5">
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="{{ url_for('static',filename='/assets/people.png') }}" class="card-img-top" alt="image representing people">
          <div class="card-body">
            <h5 class="card-title">People</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">"Empowering the Pulse of Innovation"</h6>
            <p class="card-text">People are at the heart of every breakthrough, driving forward with creativity and passion.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="{{ url_for('static',filename='/assets/process.png') }}" class="card-img-top" alt="image representing people">
          <div class="card-body">
            <h5 class="card-title">Process</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">"Blueprints for Brilliance"</h6>
            <p class="card-text">Processes provide the structured pathways that guide visionary ideas into actionable reality.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="{{ url_for('static',filename='/assets/technology.png') }}" class="card-img-top" alt="image representing people">
          <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">"Igniting Ideas, Connecting Solutions"</h6>
            <p class="card-text">Technology acts as the catalyst for innovation, bridging gaps and forging new pathways.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 20rem;">
          <img src="{{ url_for('static',filename='/assets/data.png') }}" class="card-img-top" alt="image representing people">
          <div class="card-body">
            <h5 class="card-title">Data</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">"The Current of Insight"</h6>
            <p class="card-text">Data flows through the organization, energizing decisions and strategies with clarity and precision.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>