<div class="container px-2 py-2" id="vision" xmlns="http://www.w3.org/1999/html">

    <h2 class="pb-2 border-bottom"><img class="me-3" src="{{ url_for('static', filename='/assets/svg/signpost.svg') }}"> Vision</h2>
    <div class="row-cols-lg-1 py-1">
      <p>
        The insight that <strong>frictionless interaction between People, Process, System and Data</strong> is needed to
        unleash a company's full potential, lies at the core of our vision.
      </p>
      <p>
        We envision a world where technology acts not as a barrier but as a bridge, facilitating a frictionless flow of information and innovation.
      </p>
    </div>

    <div class="row row-cols-1 row-cols-lg-4 align-items g-3 pt-1 pb-5">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static',filename='/assets/people.png') }}" class="card-img-top" alt="image representing people">
          <div class="card-body">
            <h5 class="card-title">People</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Empowering the Pulse of Innovation</h6>
            <p class="card-text">People are at the heart of every breakthrough, driving forward with creativity and passion.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static',filename='/assets/process.png') }}" class="card-img-top" alt="image representing process">
          <div class="card-body">
            <h5 class="card-title">Process</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Blueprints for Brilliance <br><br></h6>
            <p class="card-text">Processes provide the structured pathways that guide visionary ideas into actionable reality.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static',filename='/assets/technology.png') }}" class="card-img-top" alt="image representing technology">
          <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Igniting Ideas, Connecting Solutions</h6>
            <p class="card-text">Technology acts as the catalyst for innovation, bridging gaps and forging new pathways.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static',filename='/assets/data.png') }}" class="card-img-top" alt="image representing data">
          <div class="card-body">
            <h5 class="card-title">Data</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">The Current of Insight</h6>
            <p class="card-text">Data flows through the organization, energizing decisions and strategies with clarity and precision.</p>
          </div>
        </div>
      </div>
    </div>
  </div>