<section id="mission">
    <div class="container mt-4">
        <h2 class="mt-4 pb-2 border-bottom"><img class="me-3" src="{{ url_for('static', filename='/img/svg/rocket-takeoff.svg') }}"> Mission</h2>
        <div class="row mb-3">
          <div class="col-md-8 themed-grid-col text-justify">
              <h5>
                  We design, build and deploy innovative IT solutions either in SAP or seamlessly integrated with SAP that
                  simplify and enhance supply chain operations through frictionless interaction between People, Process
                  and Data.
              </h5>
              <br>
              <h5>
                  Together we:
              </h5>
                <h5>
                  <li>Turn your strategy into action.</li>
                  <li>Empower your workforce.</li>
                  <li>Drive sustainable growth and operational excellence.</li>
                </h5>
          </div>
          <div class="col-md-4 themed-grid-col">
              <img src="{{ url_for('static', filename='/img/artwork_synergy.png')}}" width=100%>
          </div>
        </div>
    </div>
</section>