<section id="python">
  <div class="container mt-4">
    <h2 class="mt-4 pb-2  border-bottom"><img class="me-3" src="{{ url_for('static', filename='/img/svg/code-slash.svg') }}"> Python+Web</h2>

    <div class="container-fluid bg-moco-blue3 rounded-3 border shadow-lg py-5 text-moco-lightgray ">

    <div class="row align-items-center">
      <div class="col-md-3 text-center">
        <img src="{{ url_for('static', filename='/img/logo_python.png') }}" alt="python logo" width="200">
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="{{ url_for('static', filename='/img/artwork_python.webp') }}" class="card-img" alt="visual with python logo">
        </div>
      </div>
      <div class="col-md-3 text-center">
        <img src="{{ url_for('static', filename='/img/logo_udemy.png') }}" alt="udemy logo" width="200">
      </div>
    </div>
    <div class="row justify-content-md-center text-center">
      <div class="col col-md-10 mt-3">
        <h4>Dr. Who? Dr. Yu!</h4>
        <h5 class="text-center">
            I'm teaching myself Python and Full-Stack Web Development with the help of the excellent courses
            <a href="https://www.udemy.com/share/103J8C3@cRV95UPcESV1ZPh_yQqNDOghnghvf8MBS4BULKaejDOoMRWjoYp1K6akTWyf5QNs/" target="_blank" class="link-moco-orange text-decoration-none">
            100 days of Python</a> and
            <a href="https://www.udemy.com/share/103J8C3@cRV95UPcESV1ZPh_yQqNDOghnghvf8MBS4BULKaejDOoMRWjoYp1K6akTWyf5QNs/" target="_blank" class="link-moco-orange text-decoration-none">
            The Complete 2024 Web Development Bootcamp</a> by the amazing
            <a href="https://www.udemy.com/user/4b4368a3-b5c8-4529-aa65-2056ec31f37e/" target="_blank" class="link-moco-orange text-decoration-none">
            Dr. Angela Yu</a> of
            <a href="https://appbrewery.com/" target="_blank" class="link-moco-orange text-decoration-none">
            The AppBrewery</a> in London. Check-out this - and other - amazing content on
            <a href="https://www.udemy.com/" target="_blank" class="link-moco-orange text-decoration-none">
            Udemy</a>.
        </h5>
        <h5>
            This website is my first project, and I'm currently working on my first
            WebApp to help freelancers track their hours and invoice their clients.
          </h5>
      </div>
    </div>

    </div>
  </div>
</section>