<section id="vision">
  <div class="container mt-4">
      <h2 class="mt-4 pb-2 border-bottom"><img class="me-3" src="{{ url_for('static', filename='/img/svg/signpost.svg') }}"> Vision</h2>
      <div class="row-cols-lg-1 py-1">
        <h5>
          The insight that <strong>frictionless interaction between People, Process, System and Data</strong> is needed to
          unleash a company's full potential, lies at the core of our vision.
        </h5>
        <h5>
          We envision a world where technology acts not as a barrier but as a bridge, facilitating a frictionless flow of information and innovation.
        </h5>
      </div>

      <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 align-items g-3 pt-1 pb-5">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static',filename='/img/artwork_people.png') }}" class="card-img-top" alt="image representing people">
            <div class="card-body">
              <h5 class="card-title">People</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Empowering the Pulse of Innovation</h6>
              <p class="card-text">People are at the heart of every breakthrough, driving forward with creativity and passion.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static',filename='/img/artwork_process.png') }}" class="card-img-top" alt="image representing process">
            <div class="card-body">
              <h5 class="card-title">Process</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Blueprints for Brilliance <br><br></h6>
              <p class="card-text">Processes are like roadmaps that help turn creative ideas into achievable goals.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static',filename='/img/artwork_technology.png') }}" class="card-img-top" alt="image representing technology">
            <div class="card-body">
              <h5 class="card-title">Technology</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Igniting Ideas, Connecting Solutions</h6>
              <p class="card-text">Technology plays a crucial role in driving innovation, bridging gaps and creating new opportunities.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static',filename='/img/artwork_data.png') }}" class="card-img-top" alt="image representing data">
            <div class="card-body">
              <h5 class="card-title">Data</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">The Current of Insight<br><br></h6>
              <p class="card-text">Data flows through the organization, empowering decision-making and planning.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>